In [394]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

pd.options.display.max_rows = 4000

In [395]:
df = pd.read_csv('./canadian-hospital-re-admittance-challenge/train.csv')
df

,enc_id,patient_id,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmission_id
0,88346340,2488608,Caucasian,Male,[60-70),NaN,1,2,6,3,...,No,Steady,No,No,No,No,No,Ch,Yes,2
1,92001408,52133202,Caucasian,Male,[70-80),[100-125),2,6,1,7,...,No,No,No,No,No,No,No,No,Yes,1
2,169424316,40945509,Caucasian,Female,[70-80),NaN,3,2,1,7,...,No,Up,No,No,No,No,No,Ch,Yes,1
3,272987082,38850777,Caucasian,Female,[50-60),NaN,1,1,7,1,...,No,No,No,No,No,No,No,No,Yes,2
4,150600612,72738225,Caucasian,Female,[80-90),NaN,1,6,7,6,...,No,Down,No,No,No,No,No,Ch,Yes,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71231,198619164,85063725,Caucasian,Male,[70-80),NaN,1,1,7,6,...,No,No,No,No,No,No,No,No,Yes,1
71232,177404100,86244345,Caucasian,Male,[90-100),NaN,1,3,7,5,...,No,No,No,No,No,No,No,No,No,2
71233,50905206,5131368,Caucasian,Male,[70-80),NaN,3,6,1,6,...,No,Steady,No,No,No,No,No,Ch,Yes,2
71234,216431502,85969035,Hispanic,Male,[50-60),NaN,1,1,4,4,...,No,Steady,No,No,No,No,No,No,Yes,2
71235,32326944,112239351,AfricanAmerican,Female,[80-90),NaN,3,6,2,7,...,No,Down,No,No,No,No,No,Ch,Yes,0

In [396]:
percent_missing = df.isnull().sum() * 100 / len(df)

percentages_df = pd.DataFrame({
    'percent_missing': percent_missing
})

percentages_df

                          percent_missing
enc_id                           0.000000
patient_id                       0.000000
race                             2.275535
gender                           0.000000
age                              0.000000
weight                          96.841485
admission_type_id                0.000000
discharge_disposition_id         0.000000
admission_source_id              0.000000
time_in_hospital                 0.000000
payer_code                      39.555843
medical_specialty               49.034196
num_lab_procedures               0.000000
num_procedures                   0.000000
num_medications                  0.000000
number_outpatient                0.000000
number_emergency                 0.000000
number_inpatient                 0.000000
diag_1                           0.021057
diag_2                           0.342523
diag_3                           1.388343
number_diagnoses                 0.000000
max_glu_serum                   94.776517
A1Cresult                       83.323039
metformin                        0.000000
repaglinide                      0.000000
nateglinide                      0.000000
chlorpropamide                   0.000000
glimepiride                      0.000000
acetohexamide                    0.000000
glipizide                        0.000000
glyburide                        0.000000
tolbutamide                      0.000000
pioglitazone                     0.000000
rosiglitazone                    0.000000
acarbose                         0.000000
miglitol                         0.000000
troglitazone                     0.000000
tolazamide                       0.000000
examide                          0.000000
citoglipton                      0.000000
insulin                          0.000000
glyburide-metformin              0.000000
glipizide-metformin              0.000000
glimepiride-pioglitazone         0.000000
metformin-rosiglitazone          0.000000
metformin-pioglitazone           0.000000
change                           0.000000
diabetesMed                      0.000000
readmission_id                   0.000000

In [397]:
max_glu_serum_group = df.groupby(by=['max_glu_serum'])
max_glu_serum_group.count()['enc_id']

max_glu_serum
>200    1034
>300     897
Norm    1790
Name: enc_id, dtype: int64

In [398]:
a1c_result_group = df.groupby(by=['A1Cresult'])
a1c_result_group.count()['enc_id']

A1Cresult
>7      2689
>8      5715
Norm    3476
Name: enc_id, dtype: int64

In [399]:
specialty_group = df.groupby(by=['medical_specialty'])
specialty_group.count()['enc_id']

medical_specialty
AllergyandImmunology                        6
Anesthesiology                              9
Anesthesiology-Pediatric                   15
Cardiology                               3820
Cardiology-Pediatric                        6
DCPTEAM                                     3
Dentistry                                   4
Dermatology                                 1
Emergency/Trauma                         5305
Endocrinology                              88
Endocrinology-Metabolism                    6
Family/GeneralPractice                   5180
Gastroenterology                          391
Gynecology                                 44
Hematology                                 53
Hematology/Oncology                       151
Hospitalist                                34
InfectiousDiseases                         26
InternalMedicine                        10183
Nephrology                               1156
Neurology                                 143
Neurophysiology                             1
Obsterics&Gynecology-GynecologicOnco       20
Obstetrics                                 17
ObstetricsandGynecology                   480
Oncology                                  241
Ophthalmology                              25
Orthopedics                              1002
Orthopedics-Reconstructive                853
Osteopath                                  26
Otolaryngology                             87
OutreachServices                            9
Pathology                                  15
Pediatrics                                179
Pediatrics-AllergyandImmunology             2
Pediatrics-CriticalCare                    61
Pediatrics-EmergencyMedicine                3
Pediatrics-Endocrinology                  112
Pediatrics-Hematology-Oncology              1
Pediatrics-Neurology                        7
Pediatrics-Pulmonology                     18
Perinatology                                1
PhysicalMedicineandRehabilitation         283
PhysicianNotFound                           7
Podiatry                                   71
Proctology                                  1
Psychiatry                                584
Psychiatry-Child/Adolescent                 6
Psychology                                 78
Pulmonology                               600
Radiologist                               809
Radiology                                  30
Resident                                    1
Rheumatology                               12
Speech                                      1
Surgeon                                    31
Surgery-Cardiovascular                     66
Surgery-Cardiovascular/Thoracic           462
Surgery-Colon&Rectal                       11
Surgery-General                          2134
Surgery-Maxillofacial                       6
Surgery-Neuro                             333
Surgery-Pediatric                           8
Surgery-Plastic                            27
Surgery-Thoracic                           83
Surgery-Vascular                          389
SurgicalSpecialty                          23
Urology                                   466
Name: enc_id, dtype: int64

In [400]:
race_group = df.groupby(by=['race'])
race_group.count()['enc_id']

race
AfricanAmerican    13351
Asian                432
Caucasian          53373
Hispanic            1428
Other               1031
Name: enc_id, dtype: int64

In [401]:
df["max_glu_serum"].fillna("Norm", inplace = True)
df["A1Cresult"].fillna("Norm",inplace=True)
df["medical_specialty"].fillna("No-Admitting-Physician", inplace=True)
df["race"].fillna("Other", inplace=True)

In [402]:
null_rows = df.loc[df['diag_1'].isnull()]
null_rows

,enc_id,patient_id,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmission_id
8007,163172034,27758448,Caucasian,Female,[80-90),NaN,1,1,1,2,...,No,Steady,No,No,No,No,No,No,Yes,2
11579,149775366,59039082,Caucasian,Male,[80-90),NaN,1,3,7,4,...,No,No,No,No,No,No,No,No,Yes,0
11679,103561398,23460408,Caucasian,Male,[50-60),NaN,1,1,17,4,...,No,No,No,No,No,No,No,No,No,2
24078,7599132,9946782,Other,Male,[80-90),NaN,3,3,5,3,...,No,No,No,No,No,No,No,No,No,1
26669,169067490,59785542,AfricanAmerican,Female,[80-90),NaN,1,6,7,8,...,No,Up,No,No,No,No,No,Ch,Yes,2
27883,70017684,104694696,Caucasian,Male,[60-70),NaN,1,1,7,4,...,No,No,No,No,No,No,No,No,Yes,1
32853,10122996,3650130,AfricanAmerican,Male,[60-70),NaN,3,1,1,5,...,No,No,No,No,No,No,No,Ch,Yes,2
35876,117010956,25300467,Hispanic,Male,[40-50),NaN,1,2,1,4,...,No,Steady,No,No,No,No,No,Ch,Yes,0
39739,400288184,39433527,AfricanAmerican,Female,[80-90),NaN,1,6,7,3,...,No,No,No,No,No,No,No,No,Yes,0
45099,56481816,4232736,AfricanAmerican,Female,[20-30),NaN,1,18,7,6,...,No,Down,No,No,No,No,No,Ch,Yes,1
53483,4342662,1355697,Caucasian,Male,[60-70),NaN,6,25,1,4,...,No,No,No,No,No,No,No,No,No,2
55701,20095914,916947,AfricanAmerican,Male,[70-80),NaN,3,5,1,1,...,No,Steady,No,No,No,No,No,No,Yes,1
62530,187105728,36672786,AfricanAmerican,Male,[70-80),NaN,1,6,7,3,...,No,No,No,No,No,No,No,No,No,2
69553,36370146,18328716,Other,Male,[50-60),NaN,3,5,1,1,...,No,No,No,No,No,No,No,No,No,2
70949,162996168,41539860,Caucasian,Male,[70-80),NaN,3,3,1,6,...,No,Steady,No,No,No,No,No,Ch,Yes,0

In [403]:
null_rows = df.loc[df['diag_1'].isnull() & df['diag_2'].isnull() & df['diag_3'].isnull()]
null_rows

Empty DataFrame
Columns: [enc_id, patient_id, race, gender, age, weight, admission_type_id, discharge_disposition_id, admission_source_id, time_in_hospital, payer_code, medical_specialty, num_lab_procedures, num_procedures, num_medications, number_outpatient, number_emergency, number_inpatient, diag_1, diag_2, diag_3, number_diagnoses, max_glu_serum, A1Cresult, metformin, repaglinide, nateglinide, chlorpropamide, glimepiride, acetohexamide, glipizide, glyburide, tolbutamide, pioglitazone, rosiglitazone, acarbose, miglitol, troglitazone, tolazamide, examide, citoglipton, insulin, glyburide-metformin, glipizide-metformin, glimepiride-pioglitazone, metformin-rosiglitazone, metformin-pioglitazone, change, diabetesMed, readmission_id]
Index: []

[0 rows x 50 columns]

In [404]:
df.drop(columns=['enc_id','patient_id','weight','payer_code'],inplace=True)

In [405]:
percent_missing = df.isnull().sum() * 100 / len(df)

percentages_df = pd.DataFrame({
    'percent_missing': percent_missing
})

percentages_df

                          percent_missing
race                             0.000000
gender                           0.000000
age                              0.000000
admission_type_id                0.000000
discharge_disposition_id         0.000000
admission_source_id              0.000000
time_in_hospital                 0.000000
medical_specialty                0.000000
num_lab_procedures               0.000000
num_procedures                   0.000000
num_medications                  0.000000
number_outpatient                0.000000
number_emergency                 0.000000
number_inpatient                 0.000000
diag_1                           0.021057
diag_2                           0.342523
diag_3                           1.388343
number_diagnoses                 0.000000
max_glu_serum                    0.000000
A1Cresult                        0.000000
metformin                        0.000000
repaglinide                      0.000000
nateglinide                      0.000000
chlorpropamide                   0.000000
glimepiride                      0.000000
acetohexamide                    0.000000
glipizide                        0.000000
glyburide                        0.000000
tolbutamide                      0.000000
pioglitazone                     0.000000
rosiglitazone                    0.000000
acarbose                         0.000000
miglitol                         0.000000
troglitazone                     0.000000
tolazamide                       0.000000
examide                          0.000000
citoglipton                      0.000000
insulin                          0.000000
glyburide-metformin              0.000000
glipizide-metformin              0.000000
glimepiride-pioglitazone         0.000000
metformin-rosiglitazone          0.000000
metformin-pioglitazone           0.000000
change                           0.000000
diabetesMed                      0.000000
readmission_id                   0.000000